.nav-custom {
    min-height: 70px !important;
    border-radius: 0px!important;
    margin: 0 !important;
    box-shadow: 0 5px 5px #888888;
    background-color: white !important;
}
.navbar {
    box-shadow: 0 8px 6px -6px #999;
}
.logo{
    position: relative;
    height: 50px;
    width: 50px;
}
.menu-bar {
    position: absolute;
    right: 15px;
    top: 20px;
}
.main-container {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}
.content-header{
    position: relative;
    width: 96%;
    height: 10%;
    margin: 0 2%;
}

h1{
    margin-left: 15px;
}

button {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    background: none;
    border-radius: 5px;
}
.right-btn { right:0;}
.md-button {
    color: #ff6600!important;
    float: right;
    top: 10px;
}
.left{
    float: left;
}
.color-orange {
    color: #ff6600;
    font-size: 25px;
    font-weight: 700;
    transition: 0.08s ease-in;
    margin-right: 10px;
}

.md-button:hover {
    background: #ff6614;
    color: whitesmoke;
}

/* Users List Container */
.list-container{
    position: relative;
    min-height: 600px;
    width: 96%;
    margin: 0 2%;
    box-shadow: 0 2px 5px #888;
    background-color: white;
}

ul {
    list-style-type: none;
}
md-content{
    overflow: visible!important;
}
md-divider{
    background-color: #ff6600!important;
}

.list-header{
    color: #ff6600;
    height: 50px;
}
.list-header div {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
}
.left-panel{
    padding: 2%;
}
.left-panel div{
    font-size: 25px;
    color: #ff6600;
    margin-top: 3%;
}
.left-panel span{
    font-size: 20px;
}
.profilePic {
    box-shadow: 0 2px 5px #888;
    border: solid 2px #ff6600;
    overflow: hidden;
}
.profilePic img{
    height: 100%;
    width: auto;
}
.drawer{
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.drawer-head{
    color: #ff6600;
    text-align: center;
}
.drawer md-divider{
    background-color: white!important;
}
.drawer .drawer-item{
    color: white!important;
}

.create-user div {
    color: #ff6600;
    font-size: 25px;
}
.create-user input[type=text], input[type=email]{
    width: 100%;
    color: black;
}

.create-user input[type=submit]{
    border-radius: 5px;
    color:white;
    margin-left: 10px;
    background-color: #ff6600;
}