<div layout="row" layout-xs="column" class="content-header">
    <h1 flex>Users</h1>
    <div class="right-btn" flex>
        <md-button class="md-raised"><i class="fa fa-plus color-orange" aria-hidden="true"></i>Add User</md-button>
    </div>
</div>

<div class="list-container">
    <ul>
        <li layout="row" layout-xs="column" class="list-header">
            <div flex="5"></div>
            <div flex>NAME</div>
            <div flex>EMAIL</div>
            <div flex>CITY</div>
            <div flex>COMPANY</div>
        </li>
    </ul>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-content>
        <md-list ng-repeat="user in userListVm.usersList">
            <md-list-item class="md-2-line" ng-click="userListVm.getUser(user.id)">
                <img ng-src="{{user.profilePic}}" class="md-avatar" alt="{{user.who}}" flex="5">
                <div class="md-list-item-text" flex>
                    {{user.firstName}} {{user.lastName}}
                </div>
                <div class="md-list-item-text" flex>
                    {{user.email}}
                </div>
                <div class="md-list-item-text" flex>
                    {{user.address.city}}
                </div>
                <div class="md-list-item-text" flex>
                    {{user.company.name}}
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

</div>